{% include templates\header.html %}
<br>
<div id="app" class="container" style="max-width: 1500px;">
    <div style="float:right;display: inline-block;">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="filter" class="sr-only">Text</label>
                <input type="text" class="form-control" id="filter" placeholder="filter">
            </div>
            <button type="button" class="btn btn-primary mb-1">Clear</button>
        </form>
    </div>
    <br>
    <br>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">threat</th>
                <th scope="col">severity</th>
                <th scope="col">time</th>
                <th scope="col">scr</th>
                <th scope="col">dst</th>
                <th scope="col">proto</th>
                <th scope="col">reference</th>
                <th scope="col">tags</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="threat in threats">
                <div class="row">
                    <td class="col-1">
                        <span class="badge badge-primary">
                            {{! threat.id }}
                        </span>
                    </td>
                    <td class="col-1">{{! threat.threat }}</td>
                    <td class="col-1">{{! threat.severity }}</td>
                    <td class="col-2">{{! threat.time }}</td>
                    <td class="col-1">{{! threat.srcip }}:{{! threat.srcport }}</td>
                    <td class="col-1">{{! threat.dstip }}:{{! threat.dstport }}</td>
                    <td class="col-1">{{! threat.proto }}</td>
                    <td class="col-1">{{! threat.reference }}</td>
                    <td class="col-1">{{! threat.tags }}</td>
                </div>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script src="{{ static_url('js/traffic.js') }}"></script>
{% include templates\footer.html %}
